@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

body {
  @apply bg-white text-black font-montserrat no-scrollbar;
}

/* FLEX */
.flex_center {
  @apply flex justify-center items-center;
}

.flex_start {
  @apply flex justify-start items-start;
}

.flex_end {
  @apply flex justify-end items-center;
}

.flex_between {
  @apply flex justify-between items-center flex-wrap;
}